html, body {
    background-color: #CEDADA;
    margin: 50px;
}

.userInfo {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

.nameRequest {
    display: flex;
    font-family: 'Roboto';
    flex-direction: column;
}
.nameRequest > div {
    /*aun no le asigno nada porque no veo como hacerla responsive*/
}
.nameRequest input {
    width: 75%;
}
.emailRequest {
    display: flex;
    font-family: 'Roboto';
    flex-direction: column;
}
.emailRequest > div {
    width: 25%;
}
.emailRequest > input { /*aun se puede hacer con los div :( */
    width: 75%;
}

.numberRequest {
    display: flex;
    font-family: 'Roboto';
    flex-direction: column;
}

.numberRequest > div {
    width: 25%;
}

.numberRequest > input {
    width: 75%;
}

#survey-form {
    padding: 10px;
    border: 5px solid #ffcc5c;
    display: flex;
    max-width: 50%; /*este es mi contenedor flexible*/
}

#izquierda, #derecha {
    width: 50%;
}

#derecha {
    display: flex;
    flex-direction: column;
}

#izquierda {
/*este es el contenedor de la imagen*/
}

#image {
    width: 100%;
}

#dropdown {
    width: 20%;
    align-self: flex-start;
}

#botones {
    display: flex;
}

.campoTexto {
    display: flex;
}