html, body {
    background-color: #2E282A;
    margin: 50px;
    display: flex;
    align-content: stretch;
    /*aun no funciona*/
    font-family: 'Amita', cursive;
    color: white;
}

.userInfo {
    display: flex;
    flex-direction: column;
}

.nameRequest {
    display: flex;
    flex-direction: column;
}
/*
.nameRequest > div {
    "aun no le asigno nada porque no veo como hacerla responsive"
}
*/
.nameRequest input {
    width: 75%;
}
.emailRequest {
    display: flex;
    flex-direction: column;
}
.emailRequest > div {
    width: 25%;
}
.emailRequest > input {
    width: 75%;
}

.numberRequest {
    display: flex;
    flex-direction: column;
}

.numberRequest > div {
    width: 25%;
}

.numberRequest > input {
    width: 75%;
}

#survey-form {
    padding: 10px;
    border: 5px solid #FCBA04;
    border-radius: 5%;
    display: flex;
    max-width: 100%; /*este es mi contenedor flexible*/
}

#izquierda, #derecha {
    width: 50%;
}

#derecha {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/*
#izquierda {
este es el contenedor de la imagen
}
*/

#image {
    width: 100%;
}

#dropdown {
    width: 20%;
    align-self: flex-start;
}

#botones {
    display: flex;
    flex-wrap: wrap;
}

.campoTexto {
    display: flex;
    /*resize: horizontal;
    min-height: 60px;
    max-height: 300px; nada de esto funciona para cambiar el tamano*/
}

#area {
    max-width: 300px;
}

#informacion, #quienesSomos {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-content: stretch;
}

#description {
    text-align: justify;
    width: 50%;
    font-size: 1.2rem;
}

#informacion {
    display: flex;
    width: 50%;
    padding: 0px;
}

#todo {
    display: flex;
    flex-direction: row;

}

#otros, #submit {
    width: 50%;
}
#area {
    width: 30em;
}


@media screen and (min-width: 840px) and (max-width: 1450px){
    #area {
        width: 20em;
    }
}

@media screen and (min-width: 840px) and (max-width: 1350px){

    html {
        margin: 0px;
        padding: 0px;
    }
    body {
        margin-right: 2px;
        margin-left: 2px;
        padding-left: 2px;
        padding-right: 10px;
    }

    #survey-form {
        max-width: 100%;
    }
    #derecha {
        width: 100%;
    }
    #botones {
        display: flex;
        flex-direction: column;
    }
    #categorias {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #todo {
        display: flex;
        flex-direction: column;
    }
    #informacion, #quienesSomos {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: stretch;
    }
    #description {
        text-align: justify;
        width: 100%;
    }
    #area {
        width: 25em;
    }
    
}

@media screen and (min-width: 780px) and (max-width: 1024px){

    html {
        margin: 0px;
        padding: 0px;
    }
    body {
        margin-right: 2px;
        margin-left: 2px;
        padding-left: 2px;
        padding-right: 10px;
    }
    #izquierda {
        display: none;
    }
    #survey-form {
        max-width: 100%;
    }
    #derecha {
        width: 100%;
    }
    #botones {
        display: flex;
        flex-direction: column;
    }
    #categorias {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #todo {
        display: flex;
        flex-direction: column;
    }
    #informacion, #quienesSomos {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: stretch;
    }
    #description {
        text-align: justify;
        width: 100%;
    }
    #area {
        width: 30em;
    }
    
}

@media screen and (min-width: 480px) and (max-width: 780px){

    html {
        margin: 0px;
        padding: 0px;
    }
    body {
        margin-right: 2px;
        margin-left: 2px;
        padding-left: 2px;
        padding-right: 10px;
    }
    #izquierda {
        display: none;
    }
    #survey-form {
        max-width: 100%;
    }
    #derecha {
        width: 100%;
    }
    #botones {
        display: flex;
        flex-direction: column;
    }
    #categorias {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #todo {
        display: flex;
        flex-direction: column;
    }
    #informacion, #quienesSomos {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: stretch;
    }
    #description {
        text-align: justify;
        width: 100%;
    }
    #area {
        width: 20em;
    }

}

@media screen and (max-width: 480px){

    html {
        margin: 0px;
        padding: 0px;
    }
    body {
        margin-right: 2px;
        margin-left: 2px;
        padding-left: 2px;
        padding-right: 10px;
    }
    #izquierda {
        display: none;
    }
    #survey-form {
        max-width: 100%;
    }
    #derecha {
        width: 100%;
    }
    #botones {
        display: flex;
        flex-direction: column;
    }
    #categorias {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #todo {
        display: flex;
        flex-direction: column;
    }
    #informacion, #quienesSomos {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: stretch;
    }
    #description {
        text-align: justify;
        width: 100%;
    }
    #area {
        width: 20em;
    }

}