html, body {
    background-color: #CEDADA;
    margin: 50px;
}

.userInfo {
    font-family: 'Roboto';
    background-color: blue;
}

.namerequest {
    display: flex;
    font-family: 'Roboto';
}
.namerequest > div {
    width: 25%;
}
.namerequest input {
    width: 75%;
}
.emailRequest {
    display: flex;
    font-family: 'Roboto';
    margin-left: auto;
    align-self: right; /* aun no se pega al final */
}
.emailRequest > div {
    width: 25%;
}
.emailRequest > input { /*aun se puede hacer con los div :( */
    width: 75%;
}

.numberRequest {
    font-family: 'Roboto';
    margin-left: auto;
}

#survey-form {
    padding: 10px;
    border: 5px solid #ffcc5c;
    display: flex;
    max-width: 50%; /*este es mi contenedor flexible*/
}

#izquierda, #derecha {
    width: 50%;
}

#derecha {
    display: flex;
    flex-direction: column;
}

#dropdown {
    width: 20%;
    align-self: flex-end;
}

#botones {
    display: flex;
    align-items: end;
    background-color: red;
}